@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@700&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background: rgb(149,0,0);
    background: radial-gradient(circle, rgba(149,0,0,1) 0%, rgba(0,0,0,1) 100%);
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

img{
    width: 300px;
    border-radius: 100%;
    transition: transform 1s ease;
}

img:hover{
    transform: scale(1.1) rotate(10deg);
}

input{
    width: 50px;
    border: 0;
    padding: 6px;
    font-size: 20px;
    border-radius: 3px;
}

#pTotal{
    color: white;
    border-bottom: 1px solid white;
}

.divBoton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    font-size: 16px;
    padding:15px;
    border-radius: 20px;
    border: 0;
    text-transform: uppercase;
    transition: .3s ease;
}

button:hover{
    background-color: brown;
    color: white;
    cursor: pointer;
}