body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,157,41,1) 50%, rgba(0,0,0,1) 100%);
}

img{
    width: 500px;
    border-radius: 10px;
    transition: 2s ease;
}

img:hover{
    cursor: pointer;
    width: 600px;
}

.inicio{
    padding: 1.2rem 3rem;
    background-color: transparent;
    border: solid 1px white;
    position: absolute;
    top: 0;
    left: 1px;
}

.inicio:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.452);
}

a{
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}